/* General styling for all pages */
/* Color palette: https://colorhunt.co/palette/6096b493bfcfbdcdd6eee9da */
*{
    padding: 0;
    margin: 0;
    display: flexbox;
}

header {    
    grid-area: hea;
}

h1 {
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgb(96, 150, 180);
    z-index: 1;
    border-style: none none solid none;
}

nav{
    position: fixed;
    top: 20px;
    left: 0px;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    border-style: none none solid none;
}

#nav_links {
    list-style: none;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(48, 102, 131);
}

a {
    text-decoration: none;
    color: black;
}

#arrow {
    position: fixed;
    right: 0px;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 40px;
    height: 15px;
    background-color: red;/*rgb(96, 150, 180);*/
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-style: none solid solid solid;
}

#arrow div{
    width: 15px;
    height: 5px;
    background-color: black;
    border-radius: 30%;
    transition: all 0.2s;
}

#arrow_line_1 {
    transform: rotate(25deg) translate(-4px, 5px);
}
#arrow_line_2 {
    transform: rotate(-25deg) translate(7px, 1px);
}

.nav_toggle {
    transform: translateY(20px);
    z-index: 1;
    border-style: none none solid none;
    transition: all 0.2s;
}

.arrow_toggle {
    transform: translate(0px, 20px);
    transition: all 0.2s;
}
.arrow_toggle #arrow_line_1 {
    transform: rotate(-30deg) translate(-5px, 0px);
}
.arrow_toggle #arrow_line_2 {
    transform: rotate(30deg) translate(5px, -5px);
}


/* Styling for Home page */
#grid_wrapper_home {
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    grid-template-columns: 100vw;
    grid-template-areas:
    "hea"
    "nav"
    ".";
}
/* Styling for Profiles page */
/* Styling for Theory page */
/* Styling for About page */

/* [Computer] General styling for all pages */
/* [Computer] Styling for Home page */
/* [Computer] Styling for Profiles page */
/* [Computer] Styling for Theory page */
/* [Computer] Styling for About page */