/* General styling for all pages */
/* Color palette: https://colorhunt.co/palette/6096b493bfcfbdcdd6eee9da */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    display: flexbox;
    color: rgb(39, 73, 91);
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

header {    
    grid-area: hea;
}

h1 {
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgb(96, 150, 180);
    z-index: 2;
    border: 4px solid rgb(39, 73, 91);
    border-style: none none solid none;
    font-family: 'Josefin Slab', serif;
    font-size: 2.8rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Josefin Slab', serif;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Josefin Slab', serif;
}

body {
    background-color: rgb(189, 205, 214);
    -ms-overflow-style: none;   /* Chrome, Safari, Opera göm scrollbar */
}

body::-webkit-scrollbar{
    display: none;          /* IE and Edge göm scrollbar*/
}
html {
    scrollbar-width: none; /* Firefox göm scrollbar */
}

footer {
    grid-area: foo;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(48, 102, 131);
    border: 4px solid rgb(39, 73, 91);
    border-style: solid none none none;
}
footer a {
    display: flex;
    align-items: center;
}

input[type=text] {
    z-index: 2;
    position: fixed;
    top: 15px;
    right: 10px;
    float: right;
    padding: 2px;
    font-size: 0.8rem;
    width: 120px;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 200px;
}

#list{
    z-index: 2;
    font-size: 1.5em;
    margin-left: 90px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -1500px;
    right: 10px;
    list-style: none;
    width: 200px;
    border: 4px solid rgb(39, 73, 91);
    border-style: none solid solid solid;
    background-color: rgb(96, 150, 180);
}
.list_toggle {
    transform: translateY(1538px);
    transition-delay: 0.15s;
}
 
.types {
   display: list-item;  
} 

nav {
    z-index: 1;
    position: fixed;
    top: 28px;
    left: 0px;
    grid-area: nav;
    display: flex;
    flex-direction: row;
}
nav a:active {
    color: white;
}

#nav_links {
    list-style: none;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(48, 102, 131);
}

a {
    text-decoration: none;
    font-weight: bold;
}

#arrow {
    position: fixed;
    right: 0px;
    top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 40px;
    height: 15px;
    background-color: rgb(48, 102, 131);/*rgb(96, 150, 180);*/
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 3px solid rgb(39, 73, 91);
    border-style: none solid solid solid;
}

#arrow div{
    width: 15px;
    height: 5px;
    background-color: rgb(39, 73, 91);
    border-radius: 30%;
    transition: all 0.2s;
}

#arrow_line_1 {
    transform: rotate(25deg) translate(-4px, 5px);
}
#arrow_line_2 {
    transform: rotate(-25deg) translate(7px, 1px);
}

.nav_toggle {
    transform: translateY(28px);
    z-index: 1;
    border-color: rgb(39, 73, 91);
    border-style: none none solid none;
    transition: all 0.18s;
}

.arrow_toggle {
    transform: translateY(28px);
    transition: all 0.2s;
}
.arrow_toggle #arrow_line_1 {
    transform: rotate(-30deg) translate(-6px, 1px);
}
.arrow_toggle #arrow_line_2 {
    transform: rotate(30deg) translate(5px, -4px);
}


/* Styling for Home page */
#grid_wrapper_home {
    display: grid;
    grid-template-rows: 40px 50px 43vh 70vh 73vh 65vh 60px;
    grid-template-columns: 100vw;
    grid-template-areas:
    "hea"
    "nav"
    "rub"
    "se1"
    "se2"
    "se3"
    "foo";
}

#rubrik_och_bild {
    grid-area: rub;
}

#section_1 {
    grid-area: se1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section_2 {
    grid-area: se2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section_3 {
    grid-area: se3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color_bubbles {
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    top: -40px;
}
#color_bubbles_2 {
    z-index: -1;
    width: 90vw;
    height: auto;
    position: relative;
    top: -70px;
}

.margin_text_1 {
    background-color: rgb(189, 205, 214);
    margin-top: 30px;
    margin: 50px;
    position: relative;
    top: -30px;
}
#margin_text_2 {
    margin: 50px;
    position: relative;
    top: -100px;
}

#youtube_container {
    position: relative;
    top: -30px;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}
.youtube_videos {
    width: 192px;
    height: 108px;   
}
/* Styling for Profiles page */
/* Styling for Theory page */
/* Styling for About page */

/* [Computer] General styling for all pages */
/* [Computer] Styling for Home page */
/* [Computer] Styling for Profiles page */
/* [Computer] Styling for Theory page */
/* [Computer] Styling for About page */